{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Cosméticos y Skincare</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

</head>
<body>
    <header>
        <h1 style="font-size: 48px;">D Beauty</h1>
            <h2 style="font-size: 18px;">Bienvenido a la Tienda de Cosméticos y Skincare</h2>
    </header>

    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href='https://api.whatsapp.com/send?phone=68449412'>Contacto</a></li>
        </ul>
    </nav>

    <main>
        <section class="destacados">
            <h2>Productos Destacados</h2>
            <div class="productos-container">
                <div class="producto">
                    <img src="{% static 'images/imagen_producto1.jpg' %}" alt="Producto 1">
                    <h3>Mascarilla facial</h3>
                    <p>Iroha Nature - Mascarilla facial Tisú Peeling AHA - Papaya</p>
                    <p>Precio: Bs. 16,00</p>
                    <button onclick="abrirWhatsApp()">Comprar</button>
                </div>
    
                <div class="producto">
                    <img src="{% static 'images/imagen_producto2.jpg' %}" alt="Producto 2">
                    <h3>Mascarilla facial</h3>
                    <p>Ziaja - Mascarilla y exfoliante facial con ácidos frutales</p>
                    <p>Precio: Bs. 25,00</p>
                    <button onclick="abrirWhatsApp()">Comprar</button>
                </div>
            </div>
            
        </section>

        <section class="novedades">
            <h2>Últimas Novedades en Kits</h2>
            <div class="productos-container">
                <div class="producto">
                    <img src="{% static 'images/imagen_kit1.jpg' %}" alt="Producto 3">
                    <h3>Kit de mist faciales</h3>
                    <p>Formulados con infusiones de ingredientes botánicos que calman tu piel, esencial para confortar y tener una piel hidratada en todo momento.</p>
                    <p>Precio: BS. 130.00</p>
                    <button onclick="abrirWhatsApp()">Comprar</button>
                </div>
    
                <div class="producto">
                    <img src="{% static 'images/imagen_kit2.jpg' %}" alt="Producto 4">
                    <h3>Kit de tratamiento Antiedad</h3>
                    <p>Elimina y retrasa la aparición de arrugas, líneas de expresión y manchas en la piel, dejando tu piel radiante y rejuvenecida.</p>
                    <p>Precio: BS. 280.00</p>
                    <button onclick="abrirWhatsApp()">Comprar</button>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 Tienda de Cosméticos y Skincare</p>
    </footer>

    <script>
        function abrirWhatsApp(numero = 68449412) {
            var mensaje = '¡Hola! Me gustaría comprar este producto.';
            var urlWhatsApp = 'https://api.whatsapp.com/send?phone=' + numero + '&text=' + encodeURIComponent(mensaje);
            window.location.href = urlWhatsApp;
        }
    </script>

</body>
</html>
